USE [AmlakMaskan]
GO
/****** Object:  StoredProcedure [dbo].[spsazeh_Update]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[spsazeh_Update]
GO
/****** Object:  StoredProcedure [dbo].[spsazeh_SelectByszh_id]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[spsazeh_SelectByszh_id]
GO
/****** Object:  StoredProcedure [dbo].[spsazeh_SelectBysklt_noe_id]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[spsazeh_SelectBysklt_noe_id]
GO
/****** Object:  StoredProcedure [dbo].[spsazeh_SelectBysgf_noe_id]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[spsazeh_SelectBysgf_noe_id]
GO
/****** Object:  StoredProcedure [dbo].[spsazeh_SelectByfndsion_noe_id]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[spsazeh_SelectByfndsion_noe_id]
GO
/****** Object:  StoredProcedure [dbo].[spsazeh_SelectAll]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[spsazeh_SelectAll]
GO
/****** Object:  StoredProcedure [dbo].[spsazeh_Insert]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[spsazeh_Insert]
GO
/****** Object:  StoredProcedure [dbo].[spsazeh_Delete]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[spsazeh_Delete]
GO
/****** Object:  StoredProcedure [dbo].[gp_sazeh_Update]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_sazeh_Update]
GO
/****** Object:  StoredProcedure [dbo].[gp_sazeh_SelectByszh_id]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_sazeh_SelectByszh_id]
GO
/****** Object:  StoredProcedure [dbo].[gp_sazeh_SelectBysklt_noe_id]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_sazeh_SelectBysklt_noe_id]
GO
/****** Object:  StoredProcedure [dbo].[gp_sazeh_SelectBysgf_noe_id]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_sazeh_SelectBysgf_noe_id]
GO
/****** Object:  StoredProcedure [dbo].[gp_sazeh_SelectByfndsion_noe_id]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_sazeh_SelectByfndsion_noe_id]
GO
/****** Object:  StoredProcedure [dbo].[gp_sazeh_SelectBydivar_karji_glb_id]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_sazeh_SelectBydivar_karji_glb_id]
GO
/****** Object:  StoredProcedure [dbo].[gp_sazeh_SelectAll]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_sazeh_SelectAll]
GO
/****** Object:  StoredProcedure [dbo].[gp_sazeh_Insert]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_sazeh_Insert]
GO
/****** Object:  StoredProcedure [dbo].[gp_sazeh_Delete]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_sazeh_Delete]
GO
/****** Object:  StoredProcedure [dbo].[gp_noe_Update]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_noe_Update]
GO
/****** Object:  StoredProcedure [dbo].[gp_noe_SelectBynoe_id]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_noe_SelectBynoe_id]
GO
/****** Object:  StoredProcedure [dbo].[gp_noe_SelectAll]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_noe_SelectAll]
GO
/****** Object:  StoredProcedure [dbo].[gp_noe_Insert]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_noe_Insert]
GO
/****** Object:  StoredProcedure [dbo].[gp_noe_Delete]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_noe_Delete]
GO
/****** Object:  StoredProcedure [dbo].[gp_memari_Update]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_memari_Update]
GO
/****** Object:  StoredProcedure [dbo].[gp_memari_SelectByMemariID]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_memari_SelectByMemariID]
GO
/****** Object:  StoredProcedure [dbo].[gp_memari_SelectAll]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_memari_SelectAll]
GO
/****** Object:  StoredProcedure [dbo].[gp_memari_Insert]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_memari_Insert]
GO
/****** Object:  StoredProcedure [dbo].[gp_memari_Delete]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_memari_Delete]
GO
/****** Object:  StoredProcedure [dbo].[gp_divar_dakli_glb_Update]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_divar_dakli_glb_Update]
GO
/****** Object:  StoredProcedure [dbo].[gp_divar_dakli_glb_SelectByszh_idAnddivar_dakli_glb_id]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_divar_dakli_glb_SelectByszh_idAnddivar_dakli_glb_id]
GO
/****** Object:  StoredProcedure [dbo].[gp_divar_dakli_glb_SelectByszh_id]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_divar_dakli_glb_SelectByszh_id]
GO
/****** Object:  StoredProcedure [dbo].[gp_divar_dakli_glb_SelectBydivar_dakli_glb_id]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_divar_dakli_glb_SelectBydivar_dakli_glb_id]
GO
/****** Object:  StoredProcedure [dbo].[gp_divar_dakli_glb_SelectAll]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_divar_dakli_glb_SelectAll]
GO
/****** Object:  StoredProcedure [dbo].[gp_divar_dakli_glb_Insert]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_divar_dakli_glb_Insert]
GO
/****** Object:  StoredProcedure [dbo].[gp_divar_dakli_glb_Delete]    Script Date: 10/4/2015 3:40:08 PM ******/
DROP PROCEDURE [dbo].[gp_divar_dakli_glb_Delete]
GO
/****** Object:  StoredProcedure [dbo].[gp_divar_dakli_glb_Delete]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_divar_dakli_glb_Delete]
(
	@szh_id int,
	@divar_dakli_glb_id int
)
AS
/*
** Delete a row from the divar_dakli_glb table
*/

DELETE 
FROM
	[divar_dakli_glb]
WHERE
	[szh_id] = @szh_id
	AND [divar_dakli_glb_id] = @divar_dakli_glb_id

IF @@ROWCOUNT = 0
BEGIN
	RAISERROR ('Delete failed: Zero rows were deleted from the divar_dakli_glb table', 16, 1)
END


GO
/****** Object:  StoredProcedure [dbo].[gp_divar_dakli_glb_Insert]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_divar_dakli_glb_Insert]
(
	@szh_id int,
	@divar_dakli_glb_id int
)
AS
/*
** Add a row to the divar_dakli_glb table
*/

INSERT INTO [divar_dakli_glb]
(
	 [szh_id]
	,[divar_dakli_glb_id]
)
VALUES
(
	 @szh_id
	,@divar_dakli_glb_id
)

/*
** Select the new row
*/
SELECT
	gv_divar_dakli_glb.*
FROM
	gv_divar_dakli_glb
WHERE
	[szh_id] = @szh_id
	AND [divar_dakli_glb_id] = @divar_dakli_glb_id


GO
/****** Object:  StoredProcedure [dbo].[gp_divar_dakli_glb_SelectAll]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_divar_dakli_glb_SelectAll]
AS
/*
** Select all rows from the divar_dakli_glb table
*/

SELECT 
	gv_divar_dakli_glb.*
FROM
	gv_divar_dakli_glb
ORDER BY
	[szh_id],
	[divar_dakli_glb_id]	


GO
/****** Object:  StoredProcedure [dbo].[gp_divar_dakli_glb_SelectBydivar_dakli_glb_id]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[gp_divar_dakli_glb_SelectBydivar_dakli_glb_id] AS PRINT 'ALTER PROC will update this'
GO
/****** Object:  StoredProcedure [dbo].[gp_divar_dakli_glb_SelectByszh_id]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[gp_divar_dakli_glb_SelectByszh_id] AS PRINT 'ALTER PROC will update this'
GO
/****** Object:  StoredProcedure [dbo].[gp_divar_dakli_glb_SelectByszh_idAnddivar_dakli_glb_id]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_divar_dakli_glb_SelectByszh_idAnddivar_dakli_glb_id]
(
	@szh_id int,
	@divar_dakli_glb_id int
)
AS
/*
** Select a row from the divar_dakli_glb table by primary key
*/

SELECT 
	gv_divar_dakli_glb.*
FROM
	gv_divar_dakli_glb
WHERE
	[szh_id] = @szh_id
	AND [divar_dakli_glb_id] = @divar_dakli_glb_id


GO
/****** Object:  StoredProcedure [dbo].[gp_divar_dakli_glb_Update]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_divar_dakli_glb_Update]
(
	@szh_idOriginal int, 
	@szh_id int,
	@divar_dakli_glb_idOriginal int, 
	@divar_dakli_glb_id int
)
AS
/*
** Update a row in the divar_dakli_glb table using the primary key
*/

UPDATE 
	[divar_dakli_glb]
SET 
	[szh_id] = @szh_id
	,[divar_dakli_glb_id] = @divar_dakli_glb_id
WHERE
	[szh_id] = @szh_idOriginal
	AND [divar_dakli_glb_id] = @divar_dakli_glb_idOriginal


/*
** Select the updated row
*/
SELECT
	gv_divar_dakli_glb.*
FROM
	gv_divar_dakli_glb
WHERE
	[szh_id] = @szh_id
	AND [divar_dakli_glb_id] = @divar_dakli_glb_id



GO
/****** Object:  StoredProcedure [dbo].[gp_memari_Delete]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_memari_Delete]
(
	@MemariID int
)
AS
/*
** Delete a row from the memari table
*/

DELETE 
FROM
	[memari]
WHERE
	[MemariID] = @MemariID

IF @@ROWCOUNT = 0
BEGIN
	RAISERROR ('Delete failed: Zero rows were deleted from the memari table', 16, 1)
END


GO
/****** Object:  StoredProcedure [dbo].[gp_memari_Insert]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_memari_Insert]
(
	@MemariID int OUTPUT, -- the automatically generated value will be returned as an output parameter
	@ReshtehID int,
	@ModiriatID int,
	@ShahrestanID int
)
AS
/*
** Add a row to the memari table
*/

INSERT INTO [memari]
(
	 [ReshtehID]
	,[ModiriatID]
	,[ShahrestanID]
)
VALUES
(
	 @ReshtehID
	,@ModiriatID
	,@ShahrestanID
)

SET @MemariID = (SELECT SCOPE_IDENTITY())

/*
** Select the new row
*/
SELECT
	gv_memari.*
FROM
	gv_memari
WHERE
	[MemariID] = @MemariID


GO
/****** Object:  StoredProcedure [dbo].[gp_memari_SelectAll]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_memari_SelectAll]
AS
/*
** Select all rows from the memari table
*/

SELECT 
	gv_memari.*
FROM
	gv_memari
ORDER BY
	[MemariID]	


GO
/****** Object:  StoredProcedure [dbo].[gp_memari_SelectByMemariID]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_memari_SelectByMemariID]
(
	@MemariID int
)
AS
/*
** Select a row from the memari table by primary key
*/

SELECT 
	gv_memari.*
FROM
	gv_memari
WHERE
	[MemariID] = @MemariID


GO
/****** Object:  StoredProcedure [dbo].[gp_memari_Update]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_memari_Update]
(
	@MemariIDOriginal int, 
	@MemariID int,
	@ReshtehID int,
	@ModiriatID int,
	@ShahrestanID int
)
AS
/*
** Update a row in the memari table using the primary key
*/

UPDATE 
	[memari]
SET 
	[ReshtehID] = @ReshtehID
	,[ModiriatID] = @ModiriatID
	,[ShahrestanID] = @ShahrestanID
WHERE
	[MemariID] = @MemariIDOriginal


/*
** Select the updated row
*/
SELECT
	gv_memari.*
FROM
	gv_memari
WHERE
	[MemariID] = @MemariID



GO
/****** Object:  StoredProcedure [dbo].[gp_noe_Delete]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_noe_Delete]
(
	@noe_id int
)
AS
/*
** Delete a row from the noe table
*/

DELETE 
FROM
	[noe]
WHERE
	[noe_id] = @noe_id

IF @@ROWCOUNT = 0
BEGIN
	RAISERROR ('Delete failed: Zero rows were deleted from the noe table', 16, 1)
END


GO
/****** Object:  StoredProcedure [dbo].[gp_noe_Insert]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_noe_Insert]
(
	@noe_id int,
	@noe_nam nvarchar(200),
	@noe_cls nvarchar(50),
	@noe_tozi nvarchar(200)
)
AS
/*
** Add a row to the noe table
*/

INSERT INTO [noe]
(
	 [noe_id]
	,[noe_nam]
	,[noe_cls]
	,[noe_tozi]
)
VALUES
(
	 @noe_id
	,@noe_nam
	,@noe_cls
	,@noe_tozi
)

/*
** Select the new row
*/
SELECT
	gv_noe.*
FROM
	gv_noe
WHERE
	[noe_id] = @noe_id


GO
/****** Object:  StoredProcedure [dbo].[gp_noe_SelectAll]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_noe_SelectAll]
AS
/*
** Select all rows from the noe table
*/

SELECT 
	gv_noe.*
FROM
	gv_noe
ORDER BY
	[noe_id]	


GO
/****** Object:  StoredProcedure [dbo].[gp_noe_SelectBynoe_id]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_noe_SelectBynoe_id]
(
	@noe_id int
)
AS
/*
** Select a row from the noe table by primary key
*/

SELECT 
	gv_noe.*
FROM
	gv_noe
WHERE
	[noe_id] = @noe_id


GO
/****** Object:  StoredProcedure [dbo].[gp_noe_Update]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_noe_Update]
(
	@noe_idOriginal int, 
	@noe_id int,
	@noe_nam nvarchar(200),
	@noe_cls nvarchar(50),
	@noe_tozi nvarchar(200)
)
AS
/*
** Update a row in the noe table using the primary key
*/

UPDATE 
	[noe]
SET 
	[noe_id] = @noe_id
	,[noe_nam] = @noe_nam
	,[noe_cls] = @noe_cls
	,[noe_tozi] = @noe_tozi
WHERE
	[noe_id] = @noe_idOriginal


/*
** Select the updated row
*/
SELECT
	gv_noe.*
FROM
	gv_noe
WHERE
	[noe_id] = @noe_id



GO
/****** Object:  StoredProcedure [dbo].[gp_sazeh_Delete]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_sazeh_Delete]
(
	@szh_id int
)
AS
/*
** Delete a row from the sazeh table
*/

DELETE 
FROM
	[sazeh]
WHERE
	[szh_id] = @szh_id

IF @@ROWCOUNT = 0
BEGIN
	RAISERROR ('Delete failed: Zero rows were deleted from the sazeh table', 16, 1)
END


GO
/****** Object:  StoredProcedure [dbo].[gp_sazeh_Insert]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_sazeh_Insert]
(
	@szh_id int OUTPUT, -- the automatically generated value will be returned as an output parameter
	@mlk_id int,
	@rsht_id int,
	@modirt_id int,
	@shrstan_id int,
	@shobh_id nchar(10),
	@fndsion_noe_id int,
	@fndsion_tozi varchar(max),
	@sgf_noe_id int,
	@sgf_sayr varchar(200),
	@sgf_tozi varchar(max),
	@sklt_noe_id int,
	@sklt_tozi varchar(200),
	@sklt_sayr varchar(max),
	@divar_karji_glb_id int,
	@divar_dakli_glb_partition bit,
	@divar_dakli_glb_simani bit,
	@divar_dakli_glb_lika bit,
	@divar_dakli_glb_hblx bit,
	@divar_dakli_glb_sofali bit,
	@divar_dakli_glb_poma bit,
	@divar_dakli_glb_ajor bit,
	@divar_dakli_glb_drywall bit,
	@divar_dakli_glb_sayer bit,
	@divar_dakli_glb_sayer_val nvarchar(200),
	@divar_dakli_glb_tozi int,
	@thvil_tarikh char(10),
	@thvil_krshnas int
)
AS
/*
** Add a row to the sazeh table
*/

INSERT INTO [sazeh]
(
	 [mlk_id]
	,[rsht_id]
	,[modirt_id]
	,[shrstan_id]
	,[shobh_id]
	,[fndsion_noe_id]
	,[fndsion_tozi]
	,[sgf_noe_id]
	,[sgf_sayr]
	,[sgf_tozi]
	,[sklt_noe_id]
	,[sklt_tozi]
	,[sklt_sayr]
	,[divar_karji_glb_id]
	,[divar_dakli_glb_partition]
	,[divar_dakli_glb_simani]
	,[divar_dakli_glb_lika]
	,[divar_dakli_glb_hblx]
	,[divar_dakli_glb_sofali]
	,[divar_dakli_glb_poma]
	,[divar_dakli_glb_ajor]
	,[divar_dakli_glb_drywall]
	,[divar_dakli_glb_sayer]
	,[divar_dakli_glb_sayer_val]
	,[divar_dakli_glb_tozi]
	,[thvil_tarikh]
	,[thvil_krshnas]
)
VALUES
(
	 @mlk_id
	,@rsht_id
	,@modirt_id
	,@shrstan_id
	,@shobh_id
	,@fndsion_noe_id
	,@fndsion_tozi
	,@sgf_noe_id
	,@sgf_sayr
	,@sgf_tozi
	,@sklt_noe_id
	,@sklt_tozi
	,@sklt_sayr
	,@divar_karji_glb_id
	,@divar_dakli_glb_partition
	,@divar_dakli_glb_simani
	,@divar_dakli_glb_lika
	,@divar_dakli_glb_hblx
	,@divar_dakli_glb_sofali
	,@divar_dakli_glb_poma
	,@divar_dakli_glb_ajor
	,@divar_dakli_glb_drywall
	,@divar_dakli_glb_sayer
	,@divar_dakli_glb_sayer_val
	,@divar_dakli_glb_tozi
	,@thvil_tarikh
	,@thvil_krshnas
)

SET @szh_id = (SELECT SCOPE_IDENTITY())

/*
** Select the new row
*/
SELECT
	gv_sazeh.*
FROM
	gv_sazeh
WHERE
	[szh_id] = @szh_id


GO
/****** Object:  StoredProcedure [dbo].[gp_sazeh_SelectAll]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_sazeh_SelectAll]
AS
/*
** Select all rows from the sazeh table
*/

SELECT 
	gv_sazeh.*
FROM
	gv_sazeh
ORDER BY
	[szh_id]	


GO
/****** Object:  StoredProcedure [dbo].[gp_sazeh_SelectBydivar_karji_glb_id]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[gp_sazeh_SelectBydivar_karji_glb_id] AS PRINT 'ALTER PROC will update this'
GO
/****** Object:  StoredProcedure [dbo].[gp_sazeh_SelectByfndsion_noe_id]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[gp_sazeh_SelectByfndsion_noe_id] AS PRINT 'ALTER PROC will update this'
GO
/****** Object:  StoredProcedure [dbo].[gp_sazeh_SelectBysgf_noe_id]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[gp_sazeh_SelectBysgf_noe_id] AS PRINT 'ALTER PROC will update this'
GO
/****** Object:  StoredProcedure [dbo].[gp_sazeh_SelectBysklt_noe_id]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[gp_sazeh_SelectBysklt_noe_id] AS PRINT 'ALTER PROC will update this'
GO
/****** Object:  StoredProcedure [dbo].[gp_sazeh_SelectByszh_id]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_sazeh_SelectByszh_id]
(
	@szh_id int
)
AS
/*
** Select a row from the sazeh table by primary key
*/

SELECT 
	gv_sazeh.*
FROM
	gv_sazeh
WHERE
	[szh_id] = @szh_id


GO
/****** Object:  StoredProcedure [dbo].[gp_sazeh_Update]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gp_sazeh_Update]
(
	@szh_idOriginal int, 
	@szh_id int,
	@mlk_id int,
	@rsht_id int,
	@modirt_id int,
	@shrstan_id int,
	@shobh_id nchar(10),
	@fndsion_noe_id int,
	@fndsion_tozi varchar(max),
	@sgf_noe_id int,
	@sgf_sayr varchar(200),
	@sgf_tozi varchar(max),
	@sklt_noe_id int,
	@sklt_tozi varchar(200),
	@sklt_sayr varchar(max),
	@divar_karji_glb_id int,
	@divar_dakli_glb_partition bit,
	@divar_dakli_glb_simani bit,
	@divar_dakli_glb_lika bit,
	@divar_dakli_glb_hblx bit,
	@divar_dakli_glb_sofali bit,
	@divar_dakli_glb_poma bit,
	@divar_dakli_glb_ajor bit,
	@divar_dakli_glb_drywall bit,
	@divar_dakli_glb_sayer bit,
	@divar_dakli_glb_sayer_val nvarchar(200),
	@divar_dakli_glb_tozi int,
	@thvil_tarikh char(10),
	@thvil_krshnas int
)
AS
/*
** Update a row in the sazeh table using the primary key
*/

UPDATE 
	[sazeh]
SET 
	[mlk_id] = @mlk_id
	,[rsht_id] = @rsht_id
	,[modirt_id] = @modirt_id
	,[shrstan_id] = @shrstan_id
	,[shobh_id] = @shobh_id
	,[fndsion_noe_id] = @fndsion_noe_id
	,[fndsion_tozi] = @fndsion_tozi
	,[sgf_noe_id] = @sgf_noe_id
	,[sgf_sayr] = @sgf_sayr
	,[sgf_tozi] = @sgf_tozi
	,[sklt_noe_id] = @sklt_noe_id
	,[sklt_tozi] = @sklt_tozi
	,[sklt_sayr] = @sklt_sayr
	,[divar_karji_glb_id] = @divar_karji_glb_id
	,[divar_dakli_glb_partition] = @divar_dakli_glb_partition
	,[divar_dakli_glb_simani] = @divar_dakli_glb_simani
	,[divar_dakli_glb_lika] = @divar_dakli_glb_lika
	,[divar_dakli_glb_hblx] = @divar_dakli_glb_hblx
	,[divar_dakli_glb_sofali] = @divar_dakli_glb_sofali
	,[divar_dakli_glb_poma] = @divar_dakli_glb_poma
	,[divar_dakli_glb_ajor] = @divar_dakli_glb_ajor
	,[divar_dakli_glb_drywall] = @divar_dakli_glb_drywall
	,[divar_dakli_glb_sayer] = @divar_dakli_glb_sayer
	,[divar_dakli_glb_sayer_val] = @divar_dakli_glb_sayer_val
	,[divar_dakli_glb_tozi] = @divar_dakli_glb_tozi
	,[thvil_tarikh] = @thvil_tarikh
	,[thvil_krshnas] = @thvil_krshnas
WHERE
	[szh_id] = @szh_idOriginal


/*
** Select the updated row
*/
SELECT
	gv_sazeh.*
FROM
	gv_sazeh
WHERE
	[szh_id] = @szh_id



GO
/****** Object:  StoredProcedure [dbo].[spsazeh_Delete]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spsazeh_Delete]
(
	@szh_id int
)
AS
/*
** Delete a row from the sazeh table
*/

DELETE 
FROM
	[sazeh]
WHERE
	[szh_id] = @szh_id

IF @@ROWCOUNT = 0
BEGIN
	RAISERROR ('Delete failed: Zero rows were deleted from the sazeh table', 16, 1)
END


GO
/****** Object:  StoredProcedure [dbo].[spsazeh_Insert]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spsazeh_Insert]
(
	@szh_id int OUTPUT, -- the automatically generated value will be returned as an output parameter
	@rsht_id int,
	@modirt_id int,
	@shrstan_id int,
	@shobh_id nchar(10),
	@fndsion_noe_id int,
	@fndsion_tozi varchar(max),
	@sgf_noe_id int,
	@sgf_sayr varchar(200),
	@sgf_tozi varchar(max),
	@sklt_noe_id int,
	@sklt_tozi varchar(200),
	@sklt_sayr varchar(max),
	@divar_karji_glb_id int,
	@divar_dakli_glb_id varchar(max),
	@divar_dakli_glb_tozi int,
	@thvil_tarikh char(10),
	@thvil_krshnas int
)
AS
/*
** Add a row to the sazeh table
*/

INSERT INTO [sazeh]
(
	 [rsht_id]
	,[modirt_id]
	,[shrstan_id]
	,[shobh_id]
	,[fndsion_noe_id]
	,[fndsion_tozi]
	,[sgf_noe_id]
	,[sgf_sayr]
	,[sgf_tozi]
	,[sklt_noe_id]
	,[sklt_tozi]
	,[sklt_sayr]
	,[divar_karji_glb_id]
	,[divar_dakli_glb_id]
	,[divar_dakli_glb_tozi]
	,[thvil_tarikh]
	,[thvil_krshnas]
)
VALUES
(
	 @rsht_id
	,@modirt_id
	,@shrstan_id
	,@shobh_id
	,@fndsion_noe_id
	,@fndsion_tozi
	,@sgf_noe_id
	,@sgf_sayr
	,@sgf_tozi
	,@sklt_noe_id
	,@sklt_tozi
	,@sklt_sayr
	,@divar_karji_glb_id
	,@divar_dakli_glb_id
	,@divar_dakli_glb_tozi
	,@thvil_tarikh
	,@thvil_krshnas
)

SET @szh_id = (SELECT SCOPE_IDENTITY())

/*
** Select the new row
*/
SELECT
	sazeh.*
FROM
	sazeh
WHERE
	[szh_id] = @szh_id


GO
/****** Object:  StoredProcedure [dbo].[spsazeh_SelectAll]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spsazeh_SelectAll]
AS
/*
** Select all rows from the sazeh table
*/

SELECT 
	sazeh.*
FROM
	sazeh
ORDER BY
	[szh_id]	


GO
/****** Object:  StoredProcedure [dbo].[spsazeh_SelectByfndsion_noe_id]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spsazeh_SelectByfndsion_noe_id] AS PRINT 'ALTER PROC will update this'
GO
/****** Object:  StoredProcedure [dbo].[spsazeh_SelectBysgf_noe_id]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spsazeh_SelectBysgf_noe_id] AS PRINT 'ALTER PROC will update this'
GO
/****** Object:  StoredProcedure [dbo].[spsazeh_SelectBysklt_noe_id]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spsazeh_SelectBysklt_noe_id] AS PRINT 'ALTER PROC will update this'
GO
/****** Object:  StoredProcedure [dbo].[spsazeh_SelectByszh_id]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spsazeh_SelectByszh_id]
(
	@szh_id int
)
AS
/*
** Select a row from the sazeh table by primary key
*/

SELECT 
	sazeh.*
FROM
	sazeh
WHERE
	[szh_id] = @szh_id


GO
/****** Object:  StoredProcedure [dbo].[spsazeh_Update]    Script Date: 10/4/2015 3:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spsazeh_Update]
(
	@szh_idOriginal int, 
	@szh_id int,
	@rsht_id int,
	@modirt_id int,
	@shrstan_id int,
	@shobh_id nchar(10),
	@fndsion_noe_id int,
	@fndsion_tozi varchar(max),
	@sgf_noe_id int,
	@sgf_sayr varchar(200),
	@sgf_tozi varchar(max),
	@sklt_noe_id int,
	@sklt_tozi varchar(200),
	@sklt_sayr varchar(max),
	@divar_karji_glb_id int,
	@divar_dakli_glb_id varchar(max),
	@divar_dakli_glb_tozi int,
	@thvil_tarikh char(10),
	@thvil_krshnas int
)
AS
/*
** Update a row in the sazeh table using the primary key
*/

UPDATE 
	[sazeh]
SET 
	[rsht_id] = @rsht_id
	,[modirt_id] = @modirt_id
	,[shrstan_id] = @shrstan_id
	,[shobh_id] = @shobh_id
	,[fndsion_noe_id] = @fndsion_noe_id
	,[fndsion_tozi] = @fndsion_tozi
	,[sgf_noe_id] = @sgf_noe_id
	,[sgf_sayr] = @sgf_sayr
	,[sgf_tozi] = @sgf_tozi
	,[sklt_noe_id] = @sklt_noe_id
	,[sklt_tozi] = @sklt_tozi
	,[sklt_sayr] = @sklt_sayr
	,[divar_karji_glb_id] = @divar_karji_glb_id
	,[divar_dakli_glb_id] = @divar_dakli_glb_id
	,[divar_dakli_glb_tozi] = @divar_dakli_glb_tozi
	,[thvil_tarikh] = @thvil_tarikh
	,[thvil_krshnas] = @thvil_krshnas
WHERE
	[szh_id] = @szh_idOriginal


/*
** Select the updated row
*/
SELECT
	sazeh.*
FROM
	sazeh
WHERE
	[szh_id] = @szh_id



GO
